table, td{
  border: 1px solid  rgb(55, 45, 246);
  margin: 20px;
}

th{
  color: white;
  background-color: rgb(19, 15, 246);
}

td{
  padding: 5px;
}

.navbar {
  background-color: #f2f2f2;
  padding: 10px;
  display: flex;
  align-items: center;
}

.navbar-brand {
  font-weight: bold;
}

.logo {
  font-size: 20px;
}

.navbar-buttons {
  margin-left: auto;
}

.navbar-buttons form {
  display: inline;
  margin-right: 5px;
}

.navbar-buttons input[type="submit"] {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.navbar-buttons input[type="submit"]:hover {
  background-color: #0056b3;
}


.mail-container {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  border: 3px solid #3c46da;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  background-color: #f2f2f2;
}

.text-container{
  display: inline-block;
}

a{
  text-decoration: none;
  color:rgb(0, 6, 180);
}

a:hover{
  color:rgb(1, 34, 78);
}
th{
  text-align: center; 
  color: rgb(69, 77, 229) 
}

.center {
  text-align: center;
}

.mailbox {
  margin-top: 20px;
}

.mailbox table {
  width: 50%;
  border-collapse: collapse;
}

.mailbox th {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}

.mailbox td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.mailbox .email-object {
  font-weight: bold;
}

.mailbox .label {
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 3px;
}

.mailbox .label-default {
  background-color: #999;
  color: #fff;
}

.mailbox .label-success {
  background-color: #5cb85c;
  color: #fff;
}

.mailbox .btn {
  margin-right: 5px;
}
